# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Online Demo.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\项目\Unity项目\Online Demo\.idea\.idea.Online Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
